<h1>Groups#new</h1>
<p>Find me in app/views/groups/new.html.erb</p>


<nav class="login-nav d-flex p-2 navbar-top">
    <div class="col-3"><a href="groups"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></div>
    <div class="col-4 text-center create-group">CREATE GROUP</div>
</nav>

<div class="login-page">
    <div>
        <%= form_with url: groups_path, model: @group do |f| %>
        <% @group.errors.full_messages_for(:name).each do |m| %>
        <%= m %>
        <% end %>
        <%= f.text_field :name, class: 'login-field',id: "groupname", placeholder: "Group Name", required: true %>
        <%= f.text_field :icon, class: 'login-field mt-0', placeholder: "Icon URL" %>
        <div class="green-field">
            <%= f.submit "Create", class: "green-button" %>
        </div>
        <% end %>


    </div>
</div>